* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #353535;
}

h1 {
  color: #eee;
  padding: 10px;
}

button {
  text-align: center;
  width: 100px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  margin: 5px;
  font-size: 0.8em;
}

.buttonContainer {
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
  font-family: sans-serif;
}

.board {
  width: 400px;
  height: 400px;
  background: Tomato;
  margin: 0 auto;
  text-align: center;
}

.cellsContainer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.cell {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

.cell.alive {
  background: orange;
}

.cell.dead {
  background: #222;
}

p.generations {
  text-align: center;
  color: #fff;
  font-size: 1.4em;
}
